service: schedule-tracker-app

plugins:
  - serverless-webpack
  - serverless-iam-roles-per-function
  - serverless-reqvalidator-plugin
  - serverless-aws-documentation

custom:
  documentation:
    api:
      info:
        version: v1.0.0
        title: Schedule Tracker API
        description: Serverless application to create and manage your daily schedule 
    models:
      - name: CreateScheduleRequest
        contentType: application/json
        schema: ${file(src/models/create-schedule-request.json)}
      - name: UpdateScheduleRequest
        contentType: application/json
        schema: ${file(src/models/update-schedule-request.json)}

provider:
  name: aws
  runtime: nodejs12.x

  tracing:
    lambda: true
    apiGateway: true

  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

  environment:
    SCHEDULES_TABLE: schedule-${self:provider.stage}
    SCHEDULES_TABLE_INDEX: UserIdIndex
    SCHEDULES_S3_BUCKET: schedule-tracker-attachments-ceofvo-${self:provider.stage}
    SIGNED_URL_EXPIRATION: 300
    JWKS_URL: 'https://fvo.auth0.com/.well-known/jwks.json'

functions:

  Auth:
    handler: src/lambda/auth/auth0Authorizer.handler


  GetSchedules:
    handler: src/lambda/http/getSchedules.handler
    events:
      - http:
          method: get
          path: schedules
          cors: true
          authorizer: Auth
    iamRoleStatementsName: Query-DynamoDB-Schedules-Table
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}
      - Effect: Allow
        Action:
          - dynamodb:Query
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}/index/${self:provider.environment.SCHEDULES_TABLE_INDEX}

  CreateSchedule:
    handler: src/lambda/http/createSchedule.handler
    events:
      - http:
          method: post
          path: schedules
          cors: true
          authorizer: Auth
          request:
            schema:
              application/json: ${file(src/models/create-schedule-request.json)}
    iamRoleStatementsName: Put-Into-DynamoDB-Schedules-Table
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:PutItem
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}

  UpdateSchedule:
    handler: src/lambda/http/updateSchedule.handler
    events:
      - http:
          method: patch
          path: schedules/{scheduleId}
          cors: true
          authorizer: Auth
          request:
            schema:
              application/json: ${file(src/models/update-schedule-request.json)}
    iamRoleStatementsName: Update-DynamoDB-Schedules-Table
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}

  DeleteSchedule:
    handler: src/lambda/http/deleteSchedule.handler
    events:
      - http:
          method: delete
          path: schedules/{scheduleId}
          cors: true
          authorizer: Auth
    iamRoleStatementsName: Delete-from-DynamoDB-Schedules-Table
    iamRoleStatements:
      - Effect: Allow
        Action:
          - dynamodb:DeleteItem
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}

  GenerateUploadUrl:
    handler: src/lambda/http/generateUploadUrl.handler
    events:
      - http:
          method: post
          path: schedules/{scheduleId}/attachment
          cors: true
          authorizer: Auth
    iamRoleStatementsName: Get-Put-S3-Images-Bucket-And-Update-Schedules-Table
    iamRoleStatements:
      - Effect: Allow
        Action:
          - s3:PutObject
          - s3:GetObject
        Resource: arn:aws:s3:::${self:provider.environment.SCHEDULES_S3_BUCKET}/*
      - Effect: Allow
        Action:
          - dynamodb:UpdateItem
        Resource: arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.SCHEDULES_TABLE}

resources:
  Resources:
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,OPTIONS,POST,DELETE,PUT,PATCH'"
        ResponseType: DEFAULT_4XX
        RestApiId:
          Ref: ApiGatewayRestApi
    
    RequestBodyValidator:
      Type: AWS::ApiGateway::RequestValidator
      Properties:
        Name: 'request-body-validator'
        RestApiId:
          Ref: ApiGatewayRestApi
        ValidateRequestBody: true
        ValidateRequestParameters: false

    SchedulesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: userId
            AttributeType: S
          - AttributeName: createdAt
            AttributeType: S
          - AttributeName: scheduleId
            AttributeType: S
        KeySchema:
          - AttributeName: userId
            KeyType: HASH
          - AttributeName: scheduleId
            KeyType: RANGE
        LocalSecondaryIndexes:
          - IndexName: ${self:provider.environment.SCHEDULES_TABLE_INDEX}
            KeySchema:
            - AttributeName: userId
              KeyType: HASH
            - AttributeName: createdAt
              KeyType: RANGE
            Projection:
              ProjectionType: ALL
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.SCHEDULES_TABLE}

    AttachmentsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.SCHEDULES_S3_BUCKET}
        CorsConfiguration:
          CorsRules:
            -
              AllowedOrigins:
                - '*'
              AllowedHeaders:
                - '*'
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              MaxAge: 3000

    BucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        PolicyDocument:
          Id: MyImagesPolicy
          Version: "2012-10-17"
          Statement:
            - Sid: PublicReadForGetBucketObjects
              Effect: Allow
              Principal: '*'
              Action: 's3:GetObject'
              Resource: 'arn:aws:s3:::${self:provider.environment.SCHEDULES_S3_BUCKET}/*'
        Bucket: !Ref AttachmentsBucket